<!-- vicksapp/templates/vicksapp/post_detail.html -->
{% extends 'vicksapp/base.html' %}

{% block title %}Post Detail - {{ post.title }}{% endblock %}

{% block content %}
    <img src="{{ post.title }}" alt="Post Image">
    <br>
    <p>{{ post.content | linebreaks }}</p>

    <div class="text-right"> <!-- Use Bootstrap class to align content to the right -->
        <a href="{% url 'post_update' post.pk %}" class="btn btn-sm btn-primary mr-2">Edit</a>
        
        <form action="{% url 'post_confirm_delete' post.pk %}" method="get" style="display:inline;">
            {% csrf_token %}
            <button type="submit" class="btn btn-sm btn-danger">Delete</button>
        </form>
    </div>
        
    <a href="{% url 'post_list' %}" class="btn btn-secondary">Back to Posts</a>
    {% endblock %}
